/***********************************************************************************************************/
/*                                                                                                         */
/* Global Styles                                                                                           */
/*                                                                                                         */
/***********************************************************************************************************/

.App {
  /* text-align: center; */
  width: 100%;
}

#root {
  width: 100%;
}

input {
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #145a4e;
  overflow-x: hidden;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  /* display: flex; */
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
}

/*******************************************/
/* Forms                                   */
/*******************************************/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: 1em auto;
  border-radius: 30px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

/*******************************************/
/* Form validation                         */
/*******************************************/
/* Register CSS from tutorial: https://www.youtube.com/watch?v=brcHK3P6ChQ*/

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/***********************************************************************************************************/
/*                                                                                                         */
/* Component styles                                                                                        */
/*                                                                                                         */
/***********************************************************************************************************/

/*******************************************/
/* Navbar                                  */
/*******************************************/

.navbar {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: row;
  background-color: #ef838a;
  padding-left: 3%;
  padding-right: 3%;
}

.nav-logo {
  display: flex;
  width: 40%;
  height: auto;
}

.logo-home-link {
  display: flex;
  justify-content: center;
}

.nav-left {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  /* margin-left: 3%;
  margin-right: 6%; */
}

.nav-greeting {
  display: flex;
  margin-bottom: 0;
}

.nav-right {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-right: 5%;
  margin-left: auto;
}

.nav-signout {
  display: flex;
  margin-top: 20%;
  font-size: .5em;
}

.nav-title {
  width: 100%;
  height: auto;
  /* margin-top: 2%; */
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: .75em;
  /* margin-right: 6%; */
}

.user-info-line {
  margin-bottom: 0;
}

.users-link {
  text-align: center;
}

/*******************************************/
/* Landing Page                            */
/*******************************************/

.landing-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3% auto 0 auto;
}

.landing-row {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 3% auto 0 auto;
  font-size: 1.5em;
}

.landing-row-item {
  display: flex;
}

.bookeater-text-img {
  width: 50%;
  height: auto;
}

.landing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.landing-header-item {
  display: flex;
}

/*******************************************/
/* Login                                   */
/*******************************************/

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.main-logo {
  width: 18%;
  height: auto;
  margin: auto;
}

/*******************************************/
/* Registration                            */
/*******************************************/
  
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ef838a;
  border-radius: 30px;
}

.form-register {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.form-register .checkbox {
  font-weight: 400;
}
.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: .5em auto;
  border-radius: 30px;
}
.form-register .form-control:focus {
  z-index: 2;
}

/*******************************************/
/* Home Page                               */
/*******************************************/

.home-page {
  width: 100%;
  align-items: center;
}

.home-btn-row {
  display: flex;
  justify-content: space-evenly;
}

.home-btn {
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 3%;
}

.home-btn:hover {
  background-color: #145a4e;
}

.home-img {
  width: 120%;
  height: auto;
  position: relative;
  left: -9%;
}

.home-content {
  /*https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size*/
  /* height: 300px;
  background-image: url(./assets/Background-For-Home-Page-4k.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 41.85%; */

  position: relative;
  width: 100%;
}

.home-content .home-btn-row {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  /* left: 50%; */
  /* transform: translate(0%, -20%); */
  /* -ms-transform: translate(-50%, -50%); */
  right: 1%;
  left: 0;
  width: 14%;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  padding: 12px 24px;
}

/*******************************************/
/* Library Page                            */
/*******************************************/

.library-page {
  width: 100%;
  align-items: center;
}

.add-book-btn-library {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 0;
}

.library-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.library-lower-content {
  margin-top: 3%;
  display: flex;
  align-items: flex-start;
  margin: 5%;
}

.book-stack-img {
  display: flex;
  width: 25%;
  height: auto;
}

.library-table-container {
  display: flex;
}

.library-table {
  background-color: #ef838a;
  text-align: center;
  border-radius: 20px;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-control-prev {
  left: -20px;
}

.carousel-control-next {
  right: -20px;
}

.delete-modal {
  background-color:#ef838a;
  font-size: 1.5em;
}

.edit-modal {
  background-color:#ef838a;
  font-size: 1.5em;
}

.edit-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.edit-icon:hover {
  color: #fff;
}

.delete-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.delete-icon:hover {
  color: #fff;
}

/*******************************************/
/* Book Add and Review                     */
/*******************************************/

.book-add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  height: 80%;
}

.next-btn {
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  height: 75%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
}
.form-review .checkbox {
  font-weight: 400;
}
.form-review .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: 1em auto;
  border-radius: 30px;
}
.form-review .form-control:focus {
  z-index: 2;
}

@keyframes modal-slide {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popup-content {
  background-image: url('./assets/paper-background.png');
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 90%;
  animation: modal-slide .5s ease-out forwards;
  transform: translateY(50%);
}

.update-btn {
  margin-bottom: 4%;
}

.emoji-img {
  /* width: 100%;
  height: auto; */
}

.nourishment-img {
  width: 40px;
  height: auto;
}

.ellipses {
  width: 20px;
  cursor: pointer;
}

.ellipses:hover {
  color: #fff;
}

.emoji-checkbox {
  display: none;
}

/* https://stackoverflow.com/questions/30663562/use-images-like-checkboxes */

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  /* border: 1px solid #fff; */
  /* padding: 10px; */
  /* display: block;
  position: relative; */
  /* margin: 10px; */
  width: 100px;
  height: auto;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  /* position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px; */
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  width: 100%;
  height: auto;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ef838a;
}

:checked+label::before {
  content: "✓";
  background-color: #ef838a;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

/*******************************************/
/* Users Table                             */
/*******************************************/

.users-content {
  margin-top: 3%;
}

.users-table {
  background-color: #fff;
  text-align: center;
  width: 75%;
  margin: auto;
}

/*******************************************/
/* Report Form                             */
/*******************************************/

.report-container {
  background-image: url('./assets/paper-background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-report {
  width: 100%;
  width: 40%;
  padding: 10px;
  margin: auto;
  margin-top: 8%;
}
.form-report .checkbox {
  font-weight: 400;
}
.form-report .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: 1em auto;
  border-radius: 30px;
  text-align: center;
}
.form-report .form-control:focus {
  z-index: 2;
}

.edit-report-btn-row {
  display: flex;
  justify-content: center;
}

/*******************************************/
/* User Info Form                          */
/*******************************************/

.info-container {
  background-image: url('./assets/paper-background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-info {
  width: 30%;
  padding: 10px;
  margin: auto;
  margin-top: 8%;
}
.form-info .checkbox {
  font-weight: 400;
}
.form-info .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: 1em auto;
  border-radius: 30px;
  text-align: center;
}
.form-report .form-control:focus {
  z-index: 2;
}

/*******************************************/
/* Modal                                   */
/*******************************************/

.modalWrapper > div > div  {
  width: 484px !important;
  padding: 24px !important;
  border-radius: 10px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .search-modal-content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
